#header {
    font-family: 'Playpen Sans', cursive;
    width: 100%;
    background: #FFDD32;
    position: absolute;
    height: 65px;
    top: 0px;
    text-align: center;
}
#footer {
    font-family: 'Playpen Sans', cursive;
    width: 100%;
    background: #FFDD32;
    bottom: 0px;
    height: 50px;
    position: absolute;
}
body {
    background-image: 'background.jpg';
}